@media (min-width: 321px) {
    .wrapper-inner {
        background: url(../img/background_768_700.jpg);
        width: 100%;
        max-width: 768px;
        height: 100vh;
        max-height: 700px;
        background-position: center;
    }
}
@media (min-width: 768px) {
    .wrapper-inner {
        padding: 25px 50px;
    }
    h1 {
        margin-top: 0;
    }
    ul {
        margin-top: 18px;
    }
    h2 {
        font-size: 52px;
    }
}