@media (min-width: 321px) {
    .wrapper-inner {
        background: url(../img/background_768_700.jpg);
        width: 100%;
        max-width: 768px;
        height: 100vh;
        height: 700px;
        background-position: center;
    }
}
@media (min-width: 768px) {
    .wrapper-inner {
        padding: 25px 27px;
    }
    h1 {
        margin-top: 0;
    }
    nav.nav {
        padding-top: 19px;
        padding-left: 22px;
    }
    h2 {
        font-size: 52px;
    }
    ul {
        padding: 0;
    }
    .main-screen__title {
        padding-top: 115px;
    }
    .main-screen__title p{
        font-size: 24px;
        margin-top: 21px;
    }
    .main-screen__title__text {
        padding-top: 20px;
    }
    .main-screen__title a{
        letter-spacing: 0.1px;
        font-size: 14px;
    }
}
@media (min-width: 769px) {
    .wrapper-inner {
        background: url(../img/background_1440x700.jpg);
        width: 100%;
        max-width: 1600px;
        height: 100vh;
        max-height: 700px;
        background-position: center;
        background: cover;
    }
}
/* Making for laptop 1024 */

@media (min-width: 992px) {
    .wrapper-inner {
        width: 100%;
        min-width: 942px;
        max-width: 1440px;
        height: 100vh;
        max-height: 700px;
    }
    .header>div {
        padding: 0;
    }
    .header h1 a{
        margin-right: 13px;
    }
    .nav ul {
        margin-left: -5px;
    }
}