* {
    margin: 0;
    padding: 0;
}
@import url('http://fonts.googleapis.com/css?family=playfair+display');

body {

}
header {
    position:relative;
    background-color: #ffa;
    height: 80px;
    text-align: center;
}
h1 {
    position:absolute; 
	bottom: -12px;
    margin-left: 25%;
    color: red;
    font-size: 60px;
    font-weight: bolder;   
}
h2 {
    
    width: 200px;
    font-size: 35px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    border: 3px solid;
    border-top-color: blueviolet;
    border-right-color: red;
    border-left-color: greenyellow;
    border-bottom-color: yellow;
    
}
.task_1 {
    background-image: url(../img/background-1024x1024.jpg);
    padding-top: 30px;
    border: 2px solid;
    border-top-color: red;
}