.page-title {
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@1x-min.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page-title {
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url('../img/background/background_1920x1000@2x-min.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    background-size: cover;
    }
}
.page-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    padding: 19px 9px;
}
.logo-link {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.nav__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav__links li {
    padding-left: 52px;
}
.nav__links__menu-link {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    padding-bottom: 
}
.nav__links__menu-link:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 8px;
}
.title {
    padding: 127px 10px 120px;
}
.title__h2 {
    font-family: "Kaushan Script";
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}
.title__h1 {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 36px;
    width: 850px;
    text-transform: uppercase;
    line-height: 141px;
    letter-spacing: -5px;
}
.title__link {
    text-align: center;
}
.title__link--to-content {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 14px;
    cursor: pointer;
    border: 3px #ffffff solid;
    padding: 8px 27px;
}
.services__title {
    padding: 41px 10px;
}
.services__title h4{
    font-family: "Kaushan Script";
    color: #333333;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}
h4::first-letter {
    text-transform: uppercase;
}
.services__title h3{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 900;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 18px;
    letter-spacing: -0.3px;
}
.services__title h3::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 34px auto;
}