@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-v12-latin-600.woff) format('woff'), 
         url(../fonts/montserrat-v12-latin-600.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-v12-latin-700.woff) format('woff'), 
         url(../fonts/montserrat-v12-latin-700.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "droidserif";
    src: url(../fonts/DroidSerif-Italic-webfont.woff) format('woff');
    font-weight:normal;
    font-style: italic;
}
@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/roboto-slab-v7-latin-regular.woff) format('woff'), 
         url(../fonts/roboto-slab-v7-latin-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "champagneregular";
    src: url(../fonts/cac_champagne-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
header {
    margin: 0;
}
header>div {
    max-width: 940px;
    height: 80px;
    margin: 0 auto;
}
.logo {
    font-family: "champagneregular";
    font-size: 40px;
    text-transform: capitalize;
    color: #fed751;
    float: left;
    margin-top: 32px;
    margin-left: 5px;
}
.logo span {
    margin: 0;
}
nav {
    margin: 0;
}
nav ul {
    list-style: none;
    float: right;
    margin-top: 50px;
}
nav ul li {
    display: inline;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
}
nav ul li a:hover {
    color: #fed751;
}
.services {
    margin: 108px auto 108px;
}
.services h1,p {
    text-align: center;
}
h1{
    font-family: "montserrat";
    font-weight: 700;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
    margin: 0;
}
.services div p{
    font-family: "droidserif";
    font-style: italic;
    font-size: 16px;
    margin-top: 14px;
    color: #777777;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}
.service_item {
    width: 290px;
    height: 232px;
    position: relative;
    margin: 0 5px;
}
.service_item img{
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translate(-50%,0);
}
.service_item>.text {
    margin-top: 107px;
}
.text h2{
    text-transform: capitalize;
    color: #222222;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.service_item .text p{
    font-family: "Roboto slab";
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    text-align: center;
}
section:last-of-type {
    background: url(../img/Map\ Image.png), #222222;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center right;
}
.contact h3{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 110px;
    margin: 0;
}
.contact p {
    font-family: "droidserif";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color:  #777777;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}
form {
    padding-top: 77px;
    padding-bottom: 115px;
     
     
    max-width: 940px; 
    margin: 0 auto; 
    
}
form>.flexbox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 213px;
    align-content: space-between;
}
input {
    padding: 15px;
    border: none;
    border-radius: 3px;
    width: 455px;
    height: 55px;
}
textarea {
    height: 213px;
    width: 455px;
    resize: none;
    padding: 15px;
    border-radius: 3px;
    border: none;
}
::placeholder {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
}
button {
    width: 241px;
    height: 57px;
    border-radius: 3px;
    border: none;
    background-color: #fed751;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 18px;
    margin: 30px auto 0;
    display: block;
}
input:invalid:focus,textarea:invalid:focus {
    outline: #ff0000 solid 2px;
}
input:valid:focus,textarea:valid:focus {
    outline: #00ff00 solid 2px;
}
input:focus,textarea:focus{
    outline: 0;
}
