@import url('fonts.css');

.wrapper {
    padding: 0 10px;
}
.header-inner {
    width: 940px;
    height: 80px;
    margin: 0 auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.header-inner__logo-wrapper__link {
    font-family: "champagneregular";
    font-size: 40px;
    text-transform: capitalize;
    color: #fed751;
    padding-left: 5px;
    text-decoration: none;
}
.header-inner__nav-menu__list-links {
    list-style: none;
    padding-right: 1px;
}
.header-inner__nav-menu__list-links li{
    display: inline;
    padding-left: 35px;
}
.header-inner__nav-menu__list-links a{
    letter-spacing: 0.7px;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    font-size: 13px;
}
.header-inner__nav-menu__list-links a:hover {
    color: #fed751;
}
.services {
    padding
}
.container {
    padding: 82px 108px 104px;
}
.services-title h1 {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -1px;
}
.services-title p {
    text-align: center;
    font-family: "droidserif";
    font-style: italic;
    font-size: 16px;
    padding-top: 8px;
    color: #777777;
    margin: 0;
}
.services__list {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    padding-top: 49px;
}
.services__list__item {
    width: 290px;
    height: 232px;
    position: relative;
    padding: 15px 5px;
}
.services__list__item img{
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translate(-50%,0);
}
.services__list__item .item-text {
    margin-top: 107px;
}
.item-text h3{
    text-transform: capitalize;
    color: #222222;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 3px;
    letter-spacing: -1px;
    margin: 0;
}
.services__list__item .item-text p{
    font-family: "Roboto slab";
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    text-align: center;
    line-height: 21px;
    margin: 0;
    letter-spacing: -1px;
    padding: 12px 1px;
}
section:last-of-type {
    background: url(../img/Map\ Image.png), #222222;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center right;
}
.contact h3{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 110px;
    margin: 0;
}
.contact p {
    font-family: "droidserif";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color:  #777777;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}
form {
    padding-top: 77px;
    padding-bottom: 115px;
     
     
    max-width: 940px; 
    margin: 0 auto; 
    
}
form>.flexbox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 213px;
    align-content: space-between;
}
input {
    padding: 15px;
    border: none;
    border-radius: 3px;
    width: 455px;
    height: 55px;
}
textarea {
    height: 213px;
    width: 455px;
    resize: none;
    padding: 15px;
    border-radius: 3px;
    border: none;
}
::placeholder {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
}
button {
    width: 241px;
    height: 57px;
    border-radius: 3px;
    border: none;
    background-color: #fed751;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 18px;
    margin: 30px auto 0;
    display: block;
}
input:invalid:focus,textarea:invalid:focus {
    outline: #ff0000 solid 2px;
}
input:valid:focus,textarea:valid:focus {
    outline: #00ff00 solid 2px;
}
input:focus,textarea:focus{
    outline: 0;
}
