<li class="fav-links__block__list__item">
    <h3 class="fav-links__block__list__item__title">{{title}}</h3>
    <img class="fav-links__block__list__item__img" src="{{img}}" alt="">
    <p class="fav-links__block__list__item__descr">{{descr}}</p>
    <p class="fav-links__block__list__item__link">{{url}}</p>
    <button class="fav-links__block__list__item__btn">DELETE</button>
</li>
