
@media (min-width: 769px) {
    .top-screen   {
        background: url('../img/background_1440x700.jpg');
        max-width: 1440px;
        height: 700px;
        background-position: center;
    }
}
@media (min-width: 1024px) {
    .content-container {
        width: 960px;
        margin: 0 auto;
    }
    .top-screen__header {
        padding: 57px 7px;
    }
    .top-screen__title__heading {
        padding-top: 99px;
    }
    .top-screen__title__heading h1{
        padding: 0 425px;
        text-align: center;
    }
}