@media (min-width: 321px) {
    .top-screen  {
        background: url('../img/background_768_700.jpg');
        width: 768px;
        height: 700px;
        background-position: center;
    }
}
@media (min-width: 768px) {
    .top-screen  {
    }
    .top-screen__header {
        flex-direction: row;
        padding: 14px 46px 0;
        height: 100px;
    }
    .header__nav__links-list {
        padding-right: 4px;
    }
    .header__nav__links-list li {
        margin: 0;
    }
    .top-screen__title__heading {
        padding-top: 100px;
    }
    h1 {
        font-size: 52px;
        line-height: 63px;
        letter-spacing: 1px
    }
}