@font-face {
    font-family:"montserrat";
    src: url(../fonts/montserrat-v12-latin-500.woff) format(woff),
         url(../fonts/montserrat-v12-latin-500.woff2) format(woff2);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family:"montserrat";
    src: url(../fonts/montserrat-v12-latin-700.woff) format(woff),
         url(../fonts/montserrat-v12-latin-700.woff2) format(woff2);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family:"roboto";
    src: url(../fonts/roboto-v18-latin-300.woff) format(woff),
         url(../fonts/roboto-v18-latin-300.woff2) format(woff2);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family:"roboto";
    src: url(../fonts/roboto-v18-latin-regular.woff) format(woff),
         url(../fonts/roboto-v18-latin-regular.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
}
* {
    box-sizing: border-box;
    margin: 0;
}
main {
    background: url(../img/background_768_700.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh;
    width: 100%;
    min-width: 240px;
    min-height: 320px;
    max-width: 768px;
    max-height: 700px;
    margin: 0 auto;
}
h2{
    font-family: "monserrat";
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
}
button {
    background: transparent;
    font-family: "monserrat";
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
}
button::first-letter {
    text-transform: capitalize;
}
button:last-child  {
    border: #ffffff solid 2px;
    border-radius: 20px;
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 38.88%;
} 
h1{
    font-family: "monserrat";
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0;
}
.main_heading {
    display: block;
}
main div p {
    font-family: "roboto";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 20px 50px;
}
main div p::first-letter {
    text-transform: uppercase;
}
main div a{
    text-decoration: none;
    font-family: "montserrat";
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: inline;
    background: #ff4e50;
    padding: 10px 40px;
    border-radius: 20px;
}
.search_partner {
    text-align: center;
}
h3 {
    font-family: "montserrat";
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    text-align: center;
}
h3::first-letter {
    text-transform: uppercase;
}
.section_title {
    margin: 70px auto 30px;
}
.cards_menu {
    display: flex;
    justify-content: center;
    flex-direction: raw;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 490px;
    margin: 0 auto;
}
.card figure>div {
    position: relative;
    width: 122px;
    height: 122px;
    margin: 0 auto;
}
.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: #ffffff 5px solid;
    border-radius: 20px;
    background: url(../img/icon/Shape\ 128.png),#ff4e50;
    background-position: 6px 6px;
    background-repeat: no-repeat;
}
figcaption {
    font-family: "montserrat";
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0;
}
.card p {
    font-family: "roboto";
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    text-align: center;
    width: 220px;
    padding: 5px 10px;
}
.card {
    margin: 15px 10px;
}
@media screen and (min-width: 340px){

}
@media screen and (min-width: 768px){
    main{
        background: url(../img/background_1440x700.jpg);
        height: 100vh;
        width: 100%;
        max-width: 1440px;
        max-height: 700px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    header{
        flex-direction: row;
        padding: 50px;
        height: auto;
    }
    h1{
        font-size: 52px;
        margin-top: 75px;
        display: block;
    }
    .main_heading {
        width: 520px;
        margin: 0 auto;
    }
    main div p {
        font-size: 28px;
        padding: 10px;
    }
    .search_partner {
        margin: 20px auto;
    }
    .search_partner a{
        padding: 15px;
    }
    .cards_menu {
        flex-direction: row;
        justify-content: center;
        max-width: 960px;
    }
}
