// PRIMARY COLORS //
$primary-dark-color: #;
$primary-white-color: #;

// SECONDARY COLORS //
$secondary-dark-color: #;
$secondary-white-color: #;

// FONTS //
$primary-font-stack: "Exo 2", sans-serif;
$desc-font-stack: "Open Sans", sans-serif;
$logo-font-stack: 'Montserrat', sans-serif;
$calendar-btn-font:"Open Sans", sans-serif;
