h1 {
    font-size: 40px;
    background-color: blueviolet;
    border: 0px;
    border-radius: 5px;
    width: 70%;
    height: 100px;
}
h2 {
    background-color: lightgray;
    border: 2px dotted red;
    text-align: center;
}
.header {
    margin-left: 25%;
    text-align: center;
}
table tr td{
    border: 3px solid;
    border-color: blue;
    border-radius: 5px;
}
li {
    text-align: left;
}
h3 {
    color: dimgrey;
    font-size: 25px;
}
.ronaldo {
    width: 100%;
    text-align: center;
}
.ronaldo>h3 {
    font-size: 40px;
    color: red;
}
.news {
    float: left;
    width: 40%;
    font-size: 25px; 
}
.foto {
    float: right;
    width: 55%;
}
img {
    width: 83%;
    border-radius: 5px;
    margin-top: 23px;
}
div>p {
    background-color: yellowgreen;
    border-radius: 5px;
}
.task_2 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 420px;
}
.task_3_header {
	clear: both;
}
.join {
    background-image: url(../img/background.jpg);
    border: 1px dashed;
    border-radius: 5px;
    width: 70%;
    height: 200px;
    margin: 40px 0px 0px 15%;
}
.join>h3 {
    font-size: 50px;
    color: blue;
    text-align: center;
}
ul.social> {
    margin: 0;
    padding: 5px;
}
ul.social li{
    display: inline;
    margin-right: 90px;
    font-weight: bolder;
    font-size: 20px;
}