* {
    margin: 0;
    padding: 0;
}
@import url('http://fonts.googleapis.com/css?family=playfair+display');

body {
    font-family: playfair display;
    background-image: url(../img/background-1024x1024.jpg);
}
header {
    position:relative;
    background-color: #ffa;
    height: 80px;
    text-align: center;
}
h1 {
    position:absolute; 
	bottom: -12px;
    margin-left: 25%;
    color: red;
    font-size: 60px;
    font-weight: bolder;   
}
h2 {
    width: 200px;
    font-size: 35px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid;
    border-top-color: blueviolet;
    border-right-color: red;
    border-left-color: greenyellow;
    border-bottom-color: yellow;
}
.task_1,.task_2,.task_4{
    padding-top: 30px;
    padding-bottom:50px;
    border: 2px solid;
    border-top-color: red;
}
li {
    display: inline;
    font-size: 20px;
    margin-left: 50px;
    text-transform: uppercase;
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    color: #0f00f0;
    box-sizing: border-box;
    padding: 10px;
}
ul {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
a:link {
    opacity: 0.8;
    text-decoration: none;
}
a:hover {
    box-sizing: border-box;
    padding: 10px;
    color: #ff0000;
    font-size: 25px;
    font-weight: bolder;
}
.news {
    width: 470px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
}
img {
    padding: 25px;
}
span {
    text-transform: uppercase;
    color: #b4ad9e;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}
h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#text {
    padding: 0px 25px 25px 25px;
}
.task_3 {
    width: 960px;
    margin: auto;
    padding-top: 20px;
}
.block_left {
    float: left;   
}
.block_right{
    float: right;    
}
.block_left,.block_right {
    width: 470px;
}
.news_box {
    outline: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #fff;
}
.text_info {
    margin-left: 25px;
    margin-right: 25px;
    width: 420px;
    height: 200px;
}
h5 {
    font-size: 30px;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #0f00f0, #ffff00);
}
table {
    font-size: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
    border-radius: 5px;
}
section.task_4>div.calculator {
    margin: auto;
    margin-top:20px;
}
tr,td,table {
    border: 1px dashed #000;
    background-color: #ffa;
}